.select2-container .select2-selection--multiple {
}

.select2-container .select2-search--inline {

}

.select2-container--default .select2-search--inline .select2-search__field {
}


.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    min-width: 137px;
    max-width: fit-content;
}

.fbar {
    color: black !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
background-color:#257ff2cf!important; ;
}












