@using Domain.Entity.Products.Categories

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - شاپ</title>
    <link rel="stylesheet" href="~/Shop/assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="~/Shop/assets/css/vendor/materialdesignicons.css">
    <!-- plugin-------------------------------------->
    <link rel="stylesheet" href="~/Shop/assets/css/vendor/bootstrap.css">
    <link rel="stylesheet" href="~/Shop/assets/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Shop/assets/css/vendor/nice-select.css">
    <link rel="stylesheet" href="~/Shop/assets/css/vendor/jquery.jqZoom.css">
    <link rel="stylesheet" href="~/Shop/assets/css/vendor/sweetalert2.min.css">
    <!-- main-style---------------------------------->
    @await RenderSectionAsync("link",false)
    <link rel="stylesheet" href="~/Shop/assets/css/main.css">
    <link rel="stylesheet" href="~/Shop/assets/css/responsive.css">
</head>
<body>
@await RenderSectionAsync("header",true)


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">جستجو</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="header-search text-right">
                    <div class="header-search-box">
                        <form action="#" class="form-search">
                            <input type="search" id="SearchInput" class="header-search-input" name="search-input"
                                   placeholder="نام کالا، برند و یا دسته مورد نظر خود را جستجو کنید…">
                            <div class="action-btns">
                                <button class="btn btn-search" type="submit">
                                    <img src="~/Shop/assets/images/search.png" alt="search">
                                </button>
                            </div>
                        </form>
                        <div class="search-result">
                            <ul class="search-result-list mb-0" id="SearchResult2">
                            </ul>
                            <div class="localSearchSimple"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="nav-categories-overlay"></div>
<div class="overlay-search-box"></div>

<div>
    @RenderBody()
</div>


<footer class="footer-main-site">
    <section class="d-block d-xl-block d-lg-block d-md-block d-sm-block order-1">
        <div class="footer-shopping-social">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="logo">
                        <a href="#">
                            <img src="~/Shop/assets/images/logo.png" alt="کالامارکت">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="footer-populated text-left">
                        <div class="footer-social">
                            <h5 class="footer-populated-title">ما را دنبال کنید</h5>
                            <ul>
                                <li>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-telegram"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="d-block d-xl-block d-lg-block d-md-block d-sm-block order-1">
        <div class="container-fluid">
            <div class="col-12">
                <div class="footer-middlebar">
                    <div class="col-lg-8 d-block pr">
                        <div class="footer-links">
                            <div class="col-lg-3 col-md-3 col-xs-12 pr">
                                <div class="row">
                                    <section class="footer-links-col">
                                        <div class="headline-links">
                                            <a href="#">
                                                با کالامارکت
                                            </a>
                                        </div>
                                        <ul class="footer-menu-ul">
                                            <li class="menu-item-type-custom">
                                                <a href="#">
                                                        درباره کالامارکت
                                                </a>
                                            </li>
                                            <li class="menu-item-type-custom">
                                                <a href="#">
                                                        اتاق خبر کالا مارکت
                                                </a>
                                            </li>
                                            <li class="menu-item-type-custom">
                                                <a href="#">
                                                    همکاری با سازمان‌ها
                                                </a>
                                            </li>
                                            <li class="menu-item-type-custom">
                                                <a href="#">
                                                    فرصت‌های شغلی
                                                </a>
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-12 pr">
                                <div class="row">
                                    <section class="footer-links-col">
                                        <div class="headline-links">
                                            <a href="#">
                                                خدمات مشتریان
                                            </a>
                                        </div>
                                        <ul class="footer-menu-ul">
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                        ارتباط با کالامارکت
                                                    </a>
                                                </li>
                                            <li class="menu-item-type-custom">
                                                <a href="#">
                                                    پاسخ به پرسش‌های متداول
                                                </a>
                                            </li>
                                            <li class="menu-item-type-custom">
                                                <a href="#">
                                                    رویه‌های بازگرداندن کالا
                                                </a>
                                            </li>
                                            <li class="menu-item-type-custom">
                                                <a href="#">
                                                    حریم خصوصی
                                                </a>
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-12 pr">
                                <div class="row">
                                    <section class="footer-links-col">
                                        <div class="headline-links">
                                            <a href="#">
                                                راهنمای خرید از کالامارکت
                                            </a>
                                        </div>
                                        <ul class="footer-menu-ul">
                                            <li class="menu-item-type-custom">
                                                <a href="#">
                                                    نحوه ثبت سفارش
                                                </a>
                                            </li>
                                            <li class="menu-item-type-custom">
                                                <a href="#">
                                                    رویه ارسال سفارش
                                                </a>
                                            </li>
                                            <li class="menu-item-type-custom">
                                                <a href="#">
                                                    شیوه‌های پرداخت
                                                </a>
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-block pl">
                        <div class="shortcode-widget-area">
                            <form action="#" class="form-newsletter">
                                <fieldset>
                                    <span class="form-newsletter-title"> با عضویت در خبرنامه از آخرین اخبار و
                                        محصولات سایت مطلع شوید...</span>
                                    <div class="input-group-newsletter">
                                        <input type="email" class="input-field form-control"
                                               placeholder="آدرس ایمیل خود را وارد کنید">
                                        <button class="btn btn-info btn-secondary" type="submit">ارسال</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <div class="footer-more-info">
                        <div class="col-lg-10 pr">
                            <div class="footer-content d-block">
                                <div class="text pr-1">
                                    <h2 class="title">فروشگاه اینترنتی کالامارکت</h2>
                                    <p class="desc"> کالامارکت به عنوان یکی از قدیمی‌ترین فروشگاه های اینترنتی با
                                        بیش از یک دهه تجربه، با پایبندی به سه اصل کلیدی، پرداخت در محل، 7 روز ضمانت
                                        بازگشت کالا و تضمین اصل‌بودن کالا، موفق شده تا همگام با فروشگاه‌های معتبر
                                        جهان، به بزرگ‌ترین فروشگاه اینترنتی ایران تبدیل شود. به محض ورود به دیجی
                                        اسمارت با یک سایت پر از کالا رو به رو می‌شوید! هر آنچه که نیاز دارید و به
                                        ذهن شما خطور می‌کند در اینجا پیدا خواهید کرد.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 pl">
                            <div class="footer-safety-partner">
                                <div class="widget widget-product card mb-0">
                                    <div
                                        class="product-carousel-symbol owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                                        <div class="owl-stage-outer">
                                            <div class="owl-stage"
                                                 style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2234px;">
                                                <div class="owl-item active"
                                                     style="width: 300.75px; margin-left: 10px;">
                                                    <div class="item">
                                                        <a href="#" class="d-block hover-img-link">
                                                            <img src="~/Shop/assets/images/footer/license/L-1.png"
                                                                 class="img-fluid img-brand" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="owl-item active"
                                                     style="width: 300.75px; margin-left: 10px;">
                                                    <div class="item">
                                                        <a href="#" class="d-block hover-img-link mt-0">
                                                            <img src="~/Shop/assets/images/footer/license/L-2.png"
                                                                 class="img-fluid img-brand" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer-copyright">
                            <div class="footer-copyright-text">
                                <p>تمامی مطالب، عکس ها و... متعلق به سایت فروشگاهی کالامارکت می باشد.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
<!-- footer---------------------------------->
<!-- scroll_Progress------------------------->
<div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
    </svg>
</div>
<!-- scroll_Progress------------------------->
<!-- Page Loader----------------------------->
<div class="P-loader">
    <div class="P-loader-content">
        <div class="logo-loader">
            <img src="~/Shop/assets/images/logo.png" alt="logo">
        </div>
        <div class="pic-loader text-center">
            <img src="~/Shop/assets/images/three-dots.svg" width="50" alt="">
        </div>
    </div>
</div>



<script src="~/Shop/assets/js/vendor/jquery-3.2.1.min.js"></script>
<script src="~/Shop/assets/js/vendor/bootstrap.js"></script>
<!-- plugin----------------------------------------------------->
<script src="~/Shop/assets/js/vendor/owl.carousel.min.js"></script>
<script src="~/Shop/assets/js/vendor/jquery.countdown.js"></script>
<script src="~/Shop/assets/js/vendor/jquery.nice-select.min.js"></script>
<script src="~/Shop/assets/js/vendor/jquery.jqZoom.js"></script>
<script src="~/Shop/assets/js/vendor/sweetalert2.all.min.js"></script>
<!-- main js---------------------------------------------------->
@await RenderSectionAsync("Scripts", required: false)
<script src="~/Shop/assets/js/main.js"></script>
<script>
    $('#SearchInput').on('input', function() {
        // Your function code here
        $.ajax({
            type: "Get",
            data: {keyword: $(this).val()},
            url: "/Product/SearchProds/",
            beforeSend: function() {
            },
            error: function (xhr) {
            },
            complete: function() {
            },
            timeout: 40000,
            success: function (data) {
                let html = ``;
                if (data.length>0)
                { data.map(x =>
                {
                    html+=`  <li>
                                            <a href="/product/ProductPage/${x.id}">
                                                <img src="https://localhost:7001/Images/Images/Product/${x.imageUri}" width="30px">
                                                ${x.faTitle}
                                                <a class="btn btn-light btn-continue-search" href="/product/ProductPage/${x.id}">
                                                    <i class="fa fa-angle-left"></i>
                                                </a>
                                            </a>
                            </li>`;
                })}else{
                    html+=`  <li>
                                            <a href="">
                                              نتیجه ای یافت نشد
                                            </a>
                            </li>`;
                }

                document.getElementById("SearchResult2").innerHTML = html;
            },
        });
    });
</script>
</body>
</html>