@{
    List<Domain.Entity.City> cities = ViewBag.Cities;
    Domain.Entity.City city = ViewBag.City;
    Domain.Entity.State state = ViewBag.State;
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">لیست شهر و استان</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>شهر</th>
                    <th>استان</th>
                    <th style="width: 40px">عملیات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                      <form asp-controller="City" asp-action="GetAll" method="post" style="display:inline;">
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.State.Name</td>
                      </form>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>