@{
    ViewData["Title"] = "ورود ادمین";
    Layout = null;
}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/LoginAdminStyle.css">
    <title>ورود ادمین</title>
</head>
<body>
    <div class="login-container">
        <h2>ورود به مدیریت فروشگاه</h2>
        <form asp-action="AdminDashboard" asp-controller="Admin" method="post">
            <div class="form-group">
                <label name="email">:نام کاربری</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label name="Password">:رمزعبور</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-success">ورود</button>
        </form>
    </div>
</body>
</html>