@using Domain.Entity.Products
@{
  List<Product> products = ViewBag.Products;
}
<div class="row">
  <div class="col-12">
    <div class="card" style="margin: 15px 15px 0px 15px;">
      <div class="card-header p-2">
        <ul class="nav nav-pills">
          <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">محصولات</a></li>
        </ul>
      </div>
      <div class="card-body">
        <div class="tab-content">
          <div class="active tab-pane" id="activity">
            <div class="d-flex justify-content-between align-items-center p-2 m-1 " style="color: white">
              <a type="button" class="btn btn-primary" href="@Url.Action("AddProduct","Admin")" >افزودن کالا</a>
            </div>
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">محصولات</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="جستجو">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tr>
                    <th>#</th>
                    <th>نام محصول</th>
                    <th>کد</th>
                    <th>عملیات</th>
                  </tr>
                  @{
                    if (products.Any())
                    {
                      foreach (var p in products)
                      {
                        <tr>
                          <td>@p.Id</td>
                          <td>@p.FaTitle</td>
                          <td>@p.UniqueCode</td>
                          <td>
                            <div class="d-flex justify-content-center gap-3">
                              <a class="badge badge-warning">ویرایش</a>
                              <a class="badge badge-danger">حذف</a>
                            </div>
                          </td>
                        </tr>
                      }
                    }
                    else
                    {
                      <tr>
                        <td>0</td>
                        <td>موردی یافت نشد</td>
                        <td>-</td>
                        <td>-</td>
                      </tr>
                    }
                  }

                </table>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

